.nav-ul {
  padding: 5px;
  background-color: rgb(18, 164, 187);
  font-size: initial;
  margin: auto;
   
}

.h1tag{
  
margin-right: 22%;
}

.product-list{
  text-align: center;
  margin-top: 20px;
}

.product-list ul{
margin:1px;
width: fit-content;
margin-left: 15px;
}

.searchbox{
  padding: 15px;
  width: 300px;
  border: none;
  background-color: rgb(175, 175, 175);
  font-size: medium;
}


.product-list ul li{
  display: inline-block;
  border: 1px solid #61dafb;
  padding: 5px;
  margin-block: 1px;
  font-size: small;
  width: 180px;
  
}

.register{
  padding: 3px;
  margin-top: 5px;

}

.logo{
  height: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.logon{
  height: 50px;
  float: left;
  margin-top: 25px;
  margin-left: 15px;

}

.nav-right{
  text-align: right;
}

.divsgn{
  margin-left: 30%;
  
}

.logindv{
  margin-left: 30%;
  
}
.inputbox{
    display: block;
    margin-top: 20px;
    padding: 15px;
    width: 50%;
    border: none;
    background-color: lightgrey;
    font-size: medium;
}

.dropdown{
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 53.5%;
  border: none;
  background-color: lightgrey;
  font-size: medium;
}


.btnsn{
  margin-top: 20px;
  padding: 15px;
  width: 150px;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.nav-ul li{
      display: inline-block;
      padding: 10px;
      text-align: right; 
}

.logout{
  font-style: italic;
  
}

.footer{
      color: white;
      padding-top: 1px;
      padding-bottom: 1px;
      bottom: 0px;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      background-color:rgb(18, 164, 187);

}
.nav-ul li a{
  color: white;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
