.nav-ul {
  font-family: monospace, auto;
  padding: 5px;
  background-color: rgb(18, 164, 187);
  font-size: initial;
  margin: auto;

}

a {
  text-decoration: none;
}

.navcom {
  font-family: monospace, auto;
  padding: 5px;
  background-color: rgb(18, 164, 187);
  font-size: initial;
  margin: auto;
  height: 50px;
  text-align: right;

}

.h1tag {

  margin-right: 22%;
}

.product-list {
  text-align: center;
  margin-top: 20px;
}

.photographerlist ul {
  margin: 1px;
  width: fit-content;
  margin-left: 15px;
}

.tablecss {
  border: 1px solid;
  padding: 1%;
  width: 100%;
}

.trcss {
  border: 1px solid;
  padding: 1px;
}

.tdcss {
  border: 1px solid;
}

.photographerlist ul li {
  display: inline-block;
  border: 1px solid #61dafb;
  padding: 5px;
  margin-block: 1px;
  font-size: small;
  width: 150px;
}

.dropdownCategory {
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 371px;
  border-radius: 5px;
}

.product-list ul {
  margin: 1px;
  width: fit-content;
  margin-left: 15px;
}

.searchbox {
  padding: 15px;
  width: 300px;
  border: none;
  background-color: rgb(175, 175, 175);
  font-size: medium;
}


.product-list ul li {
  display: inline-block;
  border: 1px solid #61dafb;
  padding: 5px;
  margin-block: 1px;
  font-size: small;
  width: 180px;

}

.register {
  padding: 3px;
  margin-top: 5px;

}

.logo {
  height: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.logon {
  font-family: monospace, auto;
  height: 50px;
  float: left;
  margin-top: 20px;
  margin-left: 15px;

}

.nav-right {
  text-align: right;
}

.divsgn {
  margin-left: 30%;

}

.logindv {
  margin-left: 30%;

}

.inputbox {
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 50%;
  border: none;
  background-color: lightgrey;
  font-size: medium;

}

.animation {
  display: block;
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../public/search.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;

}

.animation:focus {
  width: 100%;
}

.dropdown {
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 53.5%;
  border: none;
  background-color: lightgrey;
  font-size: medium;
}


.btnsn {
  margin-top: 20px;
  padding: 15px;
  width: 150px;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}

.nav-ul li {

  display: inline-block;
  padding: 10px;
  text-align: right;
}

.navcom li {
  display: inline-block;
  padding: 10px;
  text-align: right;
  margin-right: 3%;
}

.logout {
  font-style: italic;

}

.footer {
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 0px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(18, 164, 187);

}

.nav-ul li a {
  color: white;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* ----------------------------------------------- */


.wrap {
  margin: 50px auto 0 auto;
  width: 100%;
  display: flexbox;
  align-items: space-around;
}

.tile {
  width: 380px;
  height: 380px;
  margin: 10px;
  background-color: #99aeff;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';

}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  /*   z-index:99; */
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}

.tile h1 {

  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.tile:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);

}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}

.dots span:nth-child(2) {
  transition-delay: 0.1s;
}

.dots span:nth-child(3) {
  transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}

/* ------------------------------------------------- */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* =============== */

.hero-section {
  height: 63px;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 242, 255));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.navi-logo {
  color: black;
  margin-left: 20px;
}

.con {
  width: 90%;
  margin: 0 auto;
}

.navi {
  font-family: monospace, auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navi .navi-links {
  list-style-type: none;
  display: flex;
  align-items: center;

}

.navi .navi-links li {
  transition: color .2s ease;
  margin-right: 40px;
}

.navi .navi-links li:hover {
  color: grey;
  cursor: pointer;
}

.hero-text {
  width: 450px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
}

.hero-welcome-text {
  margin: 0;
  padding: 0;
  font-size: 34px;
  margin-bottom: -10px;
}

.hero-country {
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.hero-text-description {
  margin: 0;
  padding-bottom: 20px;
}

/* .explore-btn {
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 30px #ffc500;
  background: #eec500;
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.explore-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 40px #ffd900;
  background: #ffd900;
} */